/*
 * Ce fichier contient les styles pour la page d'accueil
 * Date de création: 3 janvier 2023
 * Auteur: Mijangos
 */
 
 /* 
 * Style général de la page
 */
/* Enlever les marges de toutes les balises de la page html */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html{
  background-color: #f2f2f2;
 }

 body {
  max-width: 1400px;
  margin: auto;
  background-color: white;
  min-height: 100vh; /* vh = viewport height 100% de la hauteur de l'écran */
  padding-left: 40px;
  padding-right: 40px;
 }
 
 h1, h2, h3, p, a {
  font-family: 'Raleway', sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

/* 
 * Style de l'en-tête
 */
 /* Styles généraux */


 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

header img {
  width: 61.09px;
  height: 19px;
  margin-top: 45px;
  }
header ul {
  list-style: none;
  display: flex;
}

header li {
  width: 162px;
  text-align: center;
  padding-top: 45px;
}
header a {
  color: #000;
  font-weight:500;
  font-size: 16px;
  
}

nav a:active {
  color: blue;
  
}

/* Styles pour la version desktop */
@media only screen and (min-width: 992px) {
    header li:hover {
      border-top: 2px solid blue;
  }
}

/* Styles pour les écrans de taille moyenne (tablette) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header li:hover {
    border-top: 2px solid red;
  }
}

/* Styles pour la version mobile */
@media only screen and (max-width: 767px) {
   header img {
      width: 50px;
  }
  header li:hover {
      border-bottom: 2px solid blue;
  }
}

/* 
 * Style du contenu principal
 */
 
 #section1 {
  width: 100%;
 }

h1 {
  font-weight: 700;
  font-size: 22px;
  margin-top: 3em;
  margin-bottom: 0.3em;

}

.conteneur-recherche {
  display: flex;
  align-items: center;
  height: 49px;
  margin-top: 1em;
  
}

form {
  display: flex;
  
  }

.form-group{
  display: flex;
  align-items: center;
  height: 100%;
}

#ville {
  width: 332px;
  border: 1px solid #f2f2f2;
 
}

::placeholder {
  font-weight:700;
  font-size: 18px;
  line-height: 49px;
  padding-left: 15px;
}

#icone-recherche {
  padding: 16px 18px 15px 18px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
}

.bouton-recherche {
  background: #0065FC;
  border: 1px solid #0065FC;
  width: 132px;
  height: 49px;
  border-radius: 0px 15px 15px 0px;
  color: white;
    
}



.filter-container {
  display: flex;
  border-radius: 20px;
}

.filter-options {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Raleway';
  font-style: normal;
  column-gap: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  
}

.filter-options p {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.filter-option {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 10px;
}


.filter-option i {
  color: #0065FC;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.filter-option:hover {
  background-color: #e6f2ff;
}

.icon-border {
  border: 1px solid gray;
  border-radius: 50%; 
  padding: 5px;
  }





/* 
 * Section 2
 */

#section2 {
  width: 100%;
  margin-top: 2em;
  height: 600px;
  display: flex;
  justify-content: space-between;
  
}


#bloc1 {
  float: left;
  background-color: #f2f2f2;
  width: 65%;
  height: 100%;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}

#bloc1 h2 {
  font-weight: 700;
  font-size: 22px;
}

.hebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 25px;
  column-gap: 25px;
}

.fiche {
  background-color: #ffff;
  width: 246px;
  height: 199px;
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.13); 
  }

.fiche:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.13);
}
 
.fiche img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #ffff;
    object-fit: cover;
  }

.note {
    margin-left: 10px;
  
  }

#fiche h3 {
  font-weight: 700;
  font-size: 16px;
  font-style: bold;
  
  text-align: left;
  line-height: 100%;
  padding-left: 10px;
}

#fiche p {
  font-weight: 400;
  font-size: 14px;
  font-style: mixed;
  
  text-align: left;
  line-height: 100%;
  padding-left: 10px;
}



.blue-star {
  color: #0065FC;
}

.gray-star {
  color: #F2F2F2;
}


#bloc2 {
  float: right;
  width: 31%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.titre {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.titre h2 {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
}

.titre .fa-solid.fa-chart-line {
width: 18px;
height: 15.75px;
color: #0065FC;
}



.fiche2 {
    background-color: #ffff;
    width: 334px;
    height: 144px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.13);
  }  

.fiche2 img {
    width: 137px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #ffff;
    
    }

.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.info h3 {
  font-weight: 700;
  font-size: 16px;
  font-style: bold;
  margin-top: 10px;
  
}


.info p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: auto;
}

.info .blue-star {
  margin-bottom: 10px;
}

/* 
 * Section 3
 */

#section3 {
  width: 100%;
  margin-top: 60px;    
}

#section3 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.activite {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}


#section3 a {
  text-decoration: none;
}


.fiche3 {
  width: 23%;
  height: 445px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.13); 
}

.fiche3:hover {
box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.13);
}

.fiche3 img {
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.fiche3 p {
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 15px;
}




/* 
 * Style du pied de page
 */

#footer {
  width: 100%;
  height: 225px;
  background-color: #f2f2f2;
  margin-top: 60px;
  padding: 50px 70px 50px 70px; /* haut, droite, bas, gauche */
  
}


#footer-links {
  display: flex; /* met les colonnes côte à côte */
}


.footer-col {
  width: 33.33%; /* 33.33% pour 3 colonnes sur toute la largeur de la page */
}

.footer-col a {
  font-weight: 700;
}


.footer-col-links {
  margin-top: 30px;
  display: flex; 
  flex-direction: column; /* les liens secondaires en colonne */
  row-gap: 15px;
  
}

.footer-col-links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
}
