/*
 * Ce fichier contient les styles pour la page d'accueil
 * Date de création: 3 janvier 2023
 * Auteur: Mijangos
 */
 
 /* 
 * Style général de la page
 */
/* Enlever les marges de toutes les balises de la page html */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* la bordure est comprise dans la mesure */
 }
 html{
  background-color: #f2f2f2;
 }

 body {
  max-width: 1400px;
  
  margin: auto;
  background-color: white;
  min-height: 100vh; /* vh = viewport height 100% de la hauteur de l'écran */
  padding-left: 2em;
  padding-right: 2em;
 }
 
 h1, h2, h3, p, a {
  font-family: 'Raleway', sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer; /* change le curseur en petite main */
}



/* Style de l'en-tête - Styles généraux */


 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

header img {
  width: 3.85;
  height: 1.2em;
  margin-top: 3em;
  }
header ul {
  list-style: none;
  display: flex;
}

header li {
  width: 10em;
  text-align: center;
  padding-top: 3em;
}
header a {
  color: #000;
  font-weight:500;
  font-size: 1em;
  
}

header a:active {
  color: blue;
  
}



/* 
 * Style du contenu principal
 */
 
 #section1 {
  width: 100%;
 }

h1 {
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 3em;
  margin-bottom: 0.3em;

}

.conteneur-recherche {
  display: flex;
  align-items: center;
  height: 49px;
  margin-top: 1em;
  
}

form {
  display: flex;
  }

#ville {
  width: 332px;
  border: 1px solid #f2f2f2;
 
}

::placeholder {
  font-weight:700;
  font-size: 18px;
  line-height: 49px;
  padding-left: 15px;
}

#icone-recherche {
  padding: 16px 18px 15px 18px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
}

.bouton-recherche {
  background: #0065FC;
  border: 1px solid #0065FC;
  width: 132px;
  height: 49px;
  border-radius: 0px 15px 15px 0px;
  color: white;
    
}

/* 
 * Filtre
 */

.filter-container {
  display: flex;
  
}

.filter-container ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  gap: 2em;
}

.filter-options {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Raleway';
  font-style: normal;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  
}

.filter-options p {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.filter-options li {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 5px 10px;
}

.filter-options li:hover {
  background-color: #e6f2ff;
}

.filter-options i {
  margin-right: 0.8em;
}

.filter-container i {
  color: #0065FC;
  
  
}





/* 
 * Section 2
 */

#section2 {
  width: 100%;
  margin-top: 2em;
  max-height 600px;
  display: flex;
  justify-content: space-between;
  
}


#bloc1 {
  
  background-color: #f2f2f2;
  width: 65%;
  height: 100%;
  min-height: 600px;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  align-items: baseline;
  
}

#bloc1 h2 {
  font-weight: 700;
  font-size: 22px;
}

.hebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  
}

.fiche {
  background-color: #ffff;
  width: 246px;
  height: 199px;
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.13); 
  }

.fiche:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.13);
}
 
.fiche img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #ffff;
    object-fit: cover;
  }

.note {
    
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }

#fiche h3 {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  line-height: 100%;
  
}

#fiche p {
  font-weight: 400;
  font-size: 14px;
  font-style: mixed;
  
  text-align: left;
  line-height: 100%;
  
}



.blue-star {
  color: #0065FC;
}

.gray-star {
  color: #F2F2F2;
}


#bloc2 {
  float: right;
  width: 100%;
  max-height: 600px;
  max-width: 33%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.titre {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.titre h2 {
font-style: normal;
font-weight: 700;
font-size: 1.5em;
line-height: 26px;
}

.titre .fa-solid.fa-chart-line {
width: 1.2em;
height: 1em;
color: #0065FC;
}



.fiche2 {
    background-color: #ffff;
    width: 100%;
    height: 9em;
    max-width: 334px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.13);
}  

.fiche2:hover {
  box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.13);
}
  


.fiche2 img {
    width: 8em;
    height: 9em;
    max-width: 33%;
    border-radius: 20px 0px 0px 20px;
    border: 0.3em solid #ffff;
    object-fit: cover;
    }

.info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.info h3 {
  font-weight: 700;
  font-size: 1.2em;
  font-style: bold;
  margin-top: 1em;
  
}


.info p {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: auto;
}

.info .blue-star {
  margin-bottom: 1em;
}

/* 
 * Section 3
 */

#section3 {
  width: 100%;
  margin-top: 60px;
}

#section3 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.activite {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}


#section3 a {
  text-decoration: none;
}


.fiche3 {
  width: 23%;
  height: 445px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.13); 
}

.fiche3:hover {
  box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.13);
}

.fiche3 img {
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.fiche3 p {
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 15px;
}




/* 
 * Style du pied de page
 */

#footer {
  width: 100%;
  height: 225px;
  background-color: #f2f2f2;
  margin-top: 60px;
  padding: 50px 70px 50px 70px; /* haut, droite, bas, gauche */
  
}


#footer-links {
  display: flex; /* met les colonnes côte à côte */
}


.footer-col {
  width: 33.33%; /* 33.33% pour 3 colonnes sur toute la largeur de la page */
}

.footer-col a {
  font-weight: 700;
}


.footer-col-links {
  margin-top: 30px;
  display: flex; 
  flex-direction: column; /* les liens secondaires en colonne */
  gap: 15px;
  
}

.footer-col-links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
}



/* Styles pour la version desktop/////////////////////////////////////////////////////// */


@media only screen and (min-width: 992px) {
  header li:hover {
    border-top: 2px solid #0065FC;
}

.bouton-recherche2 {
  display: none;
}

}

/* Styles pour les écrans de taille moyenne (tablette)//////////////////////////////////// */


@media only screen and (min-width: 768px) and (max-width: 991px) {
header li:hover {
  border-top: 2px solid #0065FC;
}
/* /////// */


.filter-container ul {
  gap: 0.5em;
}

.filter-options {
  gap: 1em;
  
}

.filter-options p {
  font-size: 15px;
}

.filter-options li {
  font-size: 15px;
}


.bouton-recherche2 {
  display: none;
}


/* ///////////////////////////// */


#section2 {
  display: flex;
  flex-wrap: wrap;
}


#bloc1 {
  padding: 10px;
  width: 100%;
}

#bloc1 h2 {
  font-size: 19px;
}

#bloc1 h3 {
  font-size: 13px;
}

#bloc1 p {
  font-size: 0.8em;
}

.hebergement {
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 2px;
}

.fiche {
  max-width: 221px;
  }

/* ////////// */

#bloc2 {
  max-height: auto;
  max-width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0.6em;
  margin-top: 20px;
  
  }

.titre {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.titre h2 {
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 26px;
}

.titre .fa-solid.fa-chart-line {
width: 1.2em;
height: 1em;
color: #0065FC;
}

.pop {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.fiche2 {
  height: 7.5em;
   max-width: 14em;
}  

.fiche2 img {
    height: 7.5em;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.info h3 {
  font-weight: 700;
  font-size: 13px;
  font-style: bold;
  margin-top: 1em;
}

.info p {
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: auto;
}

.info .blue-star {
  margin-bottom: 1em;
  margin-right: 0.2em;
  width: 0.8em;
}

/* //// SECTION 3 //// */


#section3 {
  width: 100%;
  margin-top: 60px;
 
}

#section3 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  
}

.activite {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}


#section3 a {
  text-decoration: none;
}


.fiche3 {
  height: 15em;
}


.fiche3 img {
  
  height: 12.1em;
}

.fiche3 p {
  font-weight: 700;
  font-size: 0.8em;
  margin-top: auto;
  margin-left: 5px;
}

/* //// FOOTER //// */

.footer-col-links a {
  font-size: 12px;
  line-height: 15px;
  
}






}

/* Styles pour la version mobile /////////////////////////////////////////////////// */



@media only screen and (max-width: 767px) {
 header img {
    width: 50px;
}
header li:hover {
    border-bottom: 2px solid #0065FC;

    .filter-option {
      display: flex;
    }
}

body {
  width: 100%;
  padding: 0;
  
}

header {
  padding-top: 1.8em;
  display: block;
  
 }

header img {
  
  width: 3.85;
  height: 1.2em;
  display: block;
  margin: auto;
  }
header ul {
  list-style: none;
  display: flex;
}

header li {
  width: 100%;
  text-align: center;
  padding-top: 3em;
}
/* //////////// /*/

#section1 {
  
  padding: 1.5em;
  overflow: hidden;
  
}

#section1 h1 {
  margin-top: 0;
  font-size: 1.2em;
}

.conteneur-recherche {
  border: 1px solid blue;
  width: 100%;
  display: inline-flex;
  justify-content:flex-start;
  overflow: hidden;
}


#ville {
  border: 1px solid green;
  width: 17.9em;
}

::placeholder {
  font-size: 1.4em;
}

.bouton-recherche {
  display: none;
}

.bouton-recherche2 {
  background: #0065FC;
  border: 1px solid #0065FC;
  width: 70px;
  height: 49px;
  border-radius: 0px 15px 15px 0px;
  color: white;
  text-align: center;
}


/* 
 * Filtre
 */

 .filter-options {
  display: block;
  
}

.filter-options p {
  text-align:left;
}

.filter-options ul {
  margin-top: 10px;
  display:flex;
  flex-wrap: wrap;
  
  width: 100%;
  gap: 14px;
  
}

.filter-option {
  width: 48%;
  float:left;
}

.filter-options p {
 font-size: 1em;
}

.filter-options li {
  
  font-size: 0.8em;
 
  padding: 5px 5px;
}


/* ///////////////////////////// */


#section2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}


#bloc1 {
  padding: 2em;
  width: 100%;
  background-color: white;
  border-radius: 0;
}

#bloc1 h2 {
  font-size: 19px;
}

#bloc1 h3 {
  font-size: 13px;
}

#bloc1 p {
  font-size: 0.8em;
}

.hebergement {
  justify-content: space-between;
  row-gap: 15px;
  
}

.fiche {
  width: 100%;
  }

/* ////////// */

#bloc2 {
  
  max-height: auto;
  max-width: 100%;
  background-color: #f2f2f2;
  border-radius: 0px;
  padding: 2em;
  
  
  }

.titre {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.titre h2 {
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 26px;
}

.titre .fa-solid.fa-chart-line {
width: 1.2em;
height: 1em;
color: #0065FC;
}

.pop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
   margin-top: 20px;
   gap: 10px;
}

.fiche2 {
  height: 7.5em;
  width: 400px;

}  

.fiche2 img {
    height: 7.5em;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.info h3 {
  font-weight: 700;
  font-size: 13px;
  font-style: bold;
  margin-top: 1em;
}

.info p {
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: auto;
}

.info .blue-star {
  margin-bottom: 1em;
  margin-right: 0.2em;
  width: 0.8em;
}

/* //// SECTION 3 //// */


#section3 {
  width: 100%;
  margin-top: 60px;
  padding: 2em;
 
}

#section3 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  
}

.activite {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


#section3 a {
  text-decoration: none;
}


.fiche3 {
  height: 15em;
  width: 100%;
}


.fiche3 img {
  
  height: 12.1em;
}

.fiche3 p {
  font-weight: 700;
  font-size: 0.8em;
  margin-top: auto;
  margin-left: 5px;
}

/* //// FOOTER //// */

#footer {
  padding: 2em;
}

#footer-links {
  display: flex;
  flex-direction: column;
  
}

.footer-col {
  width: 100%;
}

.footer-col a {
  font-size: 12px;
  line-height: 15px;
}

.footer-col-links a {
  font-size: 12px;
  line-height: 15px;
}





}